@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');



body {
    font-family: 'Lato';
    font-size: 12px;
    color: #494F66;
    margin: 0px;
}

.login__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
}

.login__label--grey {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #676F8F;
    letter-spacing: 0.2px;
}

.login__label--acian {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    color: #6F7DFF;
}

.login__parrafos {
    display: flex;
    align-items: center;
}

.login__label--acian img {
    vertical-align: -0.2em;
    width: 13px;
    padding-right: 5px;
}

.cotizacion__formulario--izquierda {
    width: 40%;

    height: 100vh;
    background-repeat: repeat-x;
    float: left;
    background-color: #F7F8FC;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.login__formulario--izquierda {
    width: 40%;
    background-image: url('../assets/img/FondoLogin.svg');
    height: 100vh;
    background-repeat: repeat-x;
    float: left;
    background-color: #ecf0ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login__formulario--derecha {
    float: left;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login__furmulario--login {
    padding: 48px 96px;
    width: 290px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__header--fix {
    position: fixed;
    width: 100%;
}

.login__parrafo--gray {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.2px;
    color: #494F66;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__parrafo--red {
    color: #EF3340;
}

.login__subtitle--gray {
    font-family: 'Roboto', sans-serif;
    color: #676F8F;
    font-size: 15px;
    line-height: 24px;
    width: 320px;
}

.login__parrafo--nuevo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.login__parrafo--principal {
    margin-top: 0px;
    margin-bottom: 22px;
}

.login__titulo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.2px;
    color: #494F66;
    padding-top: 15%;
}

.login__input--text {
    border: 1px solid #d4d5e8;
    padding: 15px 15px;
    padding-bottom: 20px;
    padding-top: 16px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 16px;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
}

.login__input--text--documento {
    border: 1px solid #d4d5e8;
    padding: 15px 15px;
    padding-bottom: 20px;
    padding-top: 16px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 16px;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
}

.login__input--text--documento::placeholder {
    color: #a9b1d1;
}

.login__input--text::placeholder {
    color: #a9b1d1;
}

.login__input--text::placeholder {
    color: #a9b1d1;
}

.login__input--seleccionar {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 20px;
    padding-top: 18px;
    display: inline-block;
    border: 1px solid #d4d5e8;
    font-family: "Lato";
    font-size: 16px;
    color: #494F66;
    line-height: 16px;
    margin: 0px;
    padding-left: 1px;
    background-color: #fff;
    height: 57px;
    border-right: none;
    padding-left: 15px;
    padding-right: 40px;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../assets/img/Select.svg'),
        linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.7em auto, 100%;
}

.login__input--seleccionar:focus-visible {
    outline: 0px;
}

.login__documento--izquierda {
    position: relative;
}

.login__input--grupo {
    margin-bottom: 15px;
}

.login__input--grupo--documento {
    display: flex;
}

.login__check a {
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration: underline;
    color: #676F8F;
    letter-spacing: 0.2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.login__check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #676F8F;
    letter-spacing: 0.2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0.7rem;
}


.login__check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.login__check--control {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #d4d5e8;
    border-radius: 3px;
}

.login__check input:checked~.login__check--control {
    background-color: #43B748;
}

.login__check--control:after {
    content: "";
    position: absolute;
    display: none;
}

.login__check input:checked~.login__check--control:after {
    display: block;
}

.login__check .login__check--control:after {
    left: 6.5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login__copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A3ABCC;
    width: 280px;
}

.login__boton--cotizar {
    font-family: 'Lato';
    color: white;
    background: #EF3340;
    width: 192px;
    height: 56px;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.cotizador__pasos {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-top: 20%;
}

.cotizador__barra {
    position: relative;
}

.cotizador__barra img {
    position: absolute;
    left: 10px;
    top: -25px;
}

.cotizador__numero {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
}

.cotizador__numero--parrafo {
    margin-left: 13px;
}

.cotizador__numero>span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #6F7DFF;
    color: white;
    font-weight: bold;
    font-size: 12px;
}


.cotizador__numero--1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
}

.cotizador__numero--1>span {
    align-items: center;
    border-radius: 50%;
    border: 1px solid #C5CBE0;
    color: #C5CBE0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    height: 24px;
    width: 24px;
}

.cotizador__volver {
    display: flex;
    text-transform: uppercase;
    color: #A3ABCC;
}

.cotizador__volver p {
    margin-left: 14px;
}

.login__formulario {
    width: 60%;
    padding-top: 15%;
}

.cotizacion__bienvenida span {
    color: #EF3340;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.6px;
}

.cotizacion__bienvenida--nombre {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 28px;
    letter-spacing: -0.6px;
    color: #494F66;
    margin-top: 30px;
    margin-bottom: 0px;
}

.cotizacion__bienvenida--parrafo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.6px;
    color: #494F66;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.login__formulario a {
    text-decoration: none;
}

.cotizacion__vehiculo {
    border: 3px solid #F0F2FA;
    box-sizing: border-box;
    border-radius: 12px;
    width: 300px;
    height: 140px;
    display: flex;
    margin-top: 0px;
}

.cotizacion__vehiculo--placa {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #A3ABCC;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.cotizacion__vehiculo--marca--modelo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    width: 200px;
    display: flex;
    align-items: center;
    color: #494F66;
    padding-left: 20px;
    margin-top: 0px;
}

.cotizacion__img--personal{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.cotizacion__detalle--montos{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: #676F8F;
}
.cotizacion__detalle--label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #494F66;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 40px;
}
.cotizacion__input--text {
    border: 1px solid #d4d5e8;
    padding: 15px 15px;
    padding-bottom: 13px;
    padding-top: 13px;
    font-family: "Lato";
    font-size: 16px;
    line-height: 16px;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    border-radius: 4px;
    width: 50%;
}
.cotizacion__detalle{
    display: flex;
}
.cotizacion__data{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
}
.login__img--personal img{
    height: 140px;
}